.conatiner{
     text-align: center;
     padding: 3rem;
    align-content: center;
    background-color: aqua;
    
}
.usee-option{
    text-align: center;
   margin: 1rem;
    background-color: aqua;
}